

.droplist {
	display:none;
	list-style-type: none;
	border: 1px solid black;
	font-size: 24px;
	
}

#hover:hover .droplist{display: block;}

#hover{
display: list-item;
}
/*! hover and droplist can be used for dropdown menu (hover activate the list droplist)	*/

#borderblack{
	border: 1px solid black;
}
#nopadding{
	padding: 0px;
	margin: 0px;
}
ul.i li{
	padding-left: 5px;
}
#inside{
	list-style-position: inside;
}

/*? modificatori di bullet per liste */
.wcircle{
	list-style-type: circle;
	font-size: 12px;
}

.bcircle {
	list-style-type: disc;
	font-size: 18px;
}

.i {
	list-style-type: lower-roman;
	font-size: 12px;
	list-style-position: outside;
}

.none {
	list-style-type: none;
}

/*? modificatori di font  */
.sixteen{
	font-size: 16px;
}
.fourteen{
	font-size: 14px;
}
.twelve{
	font-size: 12px;
}